p.test1 {
  background-color: #eb4034;
  border: 10px double black;
  padding: 10px;
  margin:15px;
}
p.test2 {
  background-color: #9634eb;
  border: 30px solid #b4eb34;
  width: 100px;
  height: 100px;
}
